@{
    ViewData["Title"] = "App info";
}
<h1>Welcome to my web application!</h1>

<p>
     This platform was created to develop proficiency in building MVC web applications using ASP.NET Core. Identity framework ensure secure access and manage user roles to enhance the application's functionality. My primary focus is on processing and storing GPX files obtained from activity tracking devices, particularly Garmin devices.

    The application features functionality to calculate distances and average speeds from uploaded GPX data. While currently employing basic calculation methodologies, it provides visual representation of the data on maps for enhanced user experience.
</p>
<p>
    For full access to the application, please use <span class="bg-warning rounded px-1">Username: "admin" Password: "Abcd1234."</span>.
    Please behave respectfully while testing the application with the admin account. Thank you.
</p>
